
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Playfair Display', serif; 
}
.container{
     box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
}

 .container blockquote::before,.container blockquote::after{
    content: '"';
} 
